@font-face {
  font-family: 'iconfont'; /* Project id 2572690 */
  src: url('iconfont.woff2?t=1624075315103') format('woff2'),
    url('iconfont.woff?t=1624075315103') format('woff'),
    url('iconfont.ttf?t=1624075315103') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanyuwomen2:before {
  content: '\e618';
}

.icon-guanyuwomen3:before {
  content: '\e60f';
}

.icon-guanyuwomen4:before {
  content: '\e623';
}

.icon-user_icon_about:before {
  content: '\e605';
}

.icon-guanyu:before {
  content: '\e645';
}

.icon-shanchu_1:before {
  content: '\e634';
}

.icon-shanchu:before {
  content: '\e601';
}

.icon-iconshangjiantou:before {
  content: '\e683';
}

.icon-iconxiajiantou:before {
  content: '\e600';
}

.icon-xitong:before {
  content: '\e603';
}

.icon-dashiji:before {
  content: '\e68d';
}

.icon-tupian:before {
  content: '\e766';
}

.icon-shiziduiwu:before {
  content: '\e6b2';
}

.icon-shangpin:before {
  content: '\e6d1';
}

.icon-kecheng:before {
  content: '\e60a';
}

.icon-shouqi:before {
  content: '\e6a1';
}

.icon-shouqi1:before {
  content: '\e74e';
}
.icon-zhankai:before {
  content: '\e600';
}

.icon-shouqi:before {
  content: '\e74e';
}
